<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title%} Home {% endblock %}</title>
      <!-- bootstrap cdn  -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

      <!-- Favicon -->
      <link rel="icon" type="image/png" href="{% static 'img/portal_short.ico' %}">

      <style>
        *{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
        }
      </style>
</head>


    <div class="container-fluid">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">IEEE Research portal </h1>
          <p class="lead">The sole research related webapp of NIT Durgapur.  </p>
        </div>
      </div>
      <div class="container">
        <h3>
          For API End points click below
        </h3>

        <a href="https://docs.google.com/spreadsheets/d/1p6h1TyC6oKZU6xzXB7wtq5S0uqh7slt-dPO5IM8xyqU/edit?usp=sharing" target="_blank">
          <div class="btn btn-primary"> API Doc(Spreadsheet)</div>
        </a>
          <br>
          <br>
        <a href="https://documenter.getpostman.com/view/12408668/TzmBEuGU" target="_blank">
            <div class="btn btn-primary"> API Doc(Postman)</div>
        </a>

      </div>

    </div>