<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<head>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <title>{% block title%} Home {% endblock %}</title>
</head>


    <div class="container">
      <ol>
        <li>
          <a href="{% url 'posts:studentd' %}" target="_blank"> Student dashboard </a>
        </li>
        <li>
          <a href="{% url 'posts:teacherd' %}" target="_blank"> Faculty dashboard </a>
        </li>
        <li>
          <a href="{% url 'posts:feed' %}" target="_blank" > Projects Feed </a>
        </li>
      </ol>
    </div>

  
    {% endblock %}