{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/portal_logo_big3.png' %}" alt="" width="120" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'posts:feed' %}" >Projects Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home:about' %}" >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home:team' %}" >Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home:mile' %}" >Milestones Reached</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home:director' %}" >Director's Message</a>
          </li>
            
          {% if user.is_authenticated %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboard
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              {%  ifequal 'teacher' grp  %}
              <li><a class="dropdown-item" href="{% url 'usr_val:teacher' %}" >Update Info</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'usr_val:teacherd' %}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{% url 'usr_val:info' %}">Projects Info</a></li>
              {% endifequal %}

              {%  ifequal 'student' grp  %}
              <li><a class="dropdown-item" href="{% url 'usr_val:student' %}" >Update Info</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'usr_val:studentd' %}">Dashboard</a></li>
              {% endifequal %}
              
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" onclick="$('#signOutBtn').click()" class="nav-link">Logout</a>
            <form style='display: none;' method="POST" action="{% url 'usr_val:logoutuser' %}">
              {% csrf_token %}
              <button id="signOutBtn" type="submit">Logout</button>
            </form>
          </li>

          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Signup/Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'usr_val:signupuser' %}" >Signup as Faculty</a></li>
              <li><a class="dropdown-item" href="{% url 'usr_val:signupstudent' %}" >Signup as Student</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'usr_val:loginuser'%}">Login</a></li>
            </ul>
          </li>
          


          {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  