<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<head>
    <title>{% block title%} Information {% endblock %}</title>
</head>

<div class="container">

  <h2>
    {{project.title}}
  </h2>

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Branch</th>
            <th scope="col">Email</th>

          </tr>
        </thead>
        {% for i in students %}
        <tbody>
          <tr>
            <td> {{i.user.first_name }}  {{ i.user.last_name}} </td>
            <td> 

                {{i.branch}}
            </td>
            <td>
              {{i.user.email}}
            </td>
          </tr>
        </tbody>

        {% endfor %}
      </table>
</div>


{% endblock %}